*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #38AAFF;
  font-family: sans-serif;
}

/* header */

header{
  height: 80px;
  background-color: #fff;
  padding-left: 20px;
}

.logo-header .logo{
  height: 50px;
  vertical-align: middle;
}

.logo-header .logo-text{
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 80px;
}

/* main */

.container{
  width: 60%;
  margin: 40px auto;
  background-color: #fff;
  height: 700px;
  border-radius: 6px;
}

.add-buttons{
  border-bottom: #38AAFF solid 2px;
  padding: 10px 30px;
}

.btn{
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.blue{
  background-color: #36AAF5;
  border: 2px solid #36AAF5;
}

.btn.white{
  background-color: #fff;
  border: 2px solid #CED4D8;
}