*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #38AAFF;
  font-family: sans-serif;
}

/* header */

header{
  height: 80px;
  background-color: #fff;
  padding-left: 20px;
}

.logo-header .logo{
  height: 50px;
  vertical-align: middle;
}

.logo-header h1{
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 80px;
  display: inline-block;
}

/* main */

.container{
  width: 60%;
  margin: 40px auto;
  background-color: #fff;
  height: 700px;
  border-radius: 6px;
}

.add-buttons{
  border-bottom: #38AAFF solid 2px;
  padding: 10px 30px;
}

.btn{
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-blue{
  background-color: #36AAF5;
  border: 2px solid #36AAF5;
}

.btn.btn-white{
  background-color: #fff;
  border: 2px solid #CED4D8;
}

/* to do list */

.todolist-box{
  padding: 25px 30px;
  font-size: 14px;
}

.list{
  margin-bottom: 30px;
}

.todolist-box h2{
  font-size: 18px;
  color: #343944;
  margin-bottom: 10px;
}

.todolist-box h2::before{
  content:'\2714';
  margin-right: 5px;
}

.list-text{
  margin-bottom: 5px;
  line-height: 20px;
}

.list-item .added{
  color: #45CDB7;
}

.list-item .not-added{
  color: #FA4344;
}

.list-item .added,
.list-item .not-added{
  line-height: 20px;
  font-size: 20px;
  margin-right: 10px;
}

.label{
  display: inline-block;
  font-size: 10px;
  padding: 5px 10px;
  color:#fff;
  border-radius: 40%/100%;
  margin-left: 5px;
}

.label.lb-blue{
  background-color: #34A9ED;
}

.list-text,
.list .added,
.list .not-added,
.label{
  vertical-align: middle;
}





